<div class="root">
  <div
    class="background"
    [ngStyle]="{'background-color': getBackgroundColor()}"
    [ngClass]="isDone() ? 'checked-background' : ''">

    <img class="show-full-description-mark" src="../../../assets/white-arrow-down.png">

    <div class="info-container" (click)="changeState()">
      <div
        class="task-name-container"
        [ngClass]="getShowFullInfo() ? 'visible-info' : 'hidden-info'">
        <span class="task-name">
          {{getTaskName()}}
        </span>
      </div>

      <div class="task-abr-container"
        [ngClass]="getShowFullInfo() ? 'hidden-info' : 'visible-info'">
        <span class="task-abr">
          {{getTaskNameAbbreviation()}}
        </span>
      </div>
    </div>
  </div>

  <div class="checked-image-container">
    <img *ngIf="isDone()" class="checked-image" src="../../../assets/light-green-checkmark-256.png">
  </div>

</div>
