.root {
    background: lightgreen;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header {
    background: lightgray;
    width: 300;
}
.body {
    background: white;
    flex-grow: 1;
    padding: 5px;
}

.bottom-panel {
    text-align: center;
}

