<div class="root" [ngClass]="isToday() ? 'root-today' : ''">
  <div class="header" [ngClass]="isToday() ? 'header-today-backgound' : 'header-backgound'">
    <span [ngClass]="isToday() ? 'date-text-today' : 'date-text'" >
      {{getDate() | date:'EEE dd'}}
    </span>
  </div>

  <div class="body">
      <span class="task-container" *ngFor="let taskViewModel of getTasksViewModels()">
        <app-day-task [viewModel]="taskViewModel"></app-day-task>
      </span>
  </div>

  <div class="footer">
    <span
      class="progress-bar"
      [ngStyle]="{width: getPercentageoOfDoneTasks() + '%'}"
      [ngClass]="!isToday() ? 'zero-opacity' : ''">
    </span>

    <div class="progress-text-container">
      <span class="progress-text">
        {{getSummaryText()}}
      </span>
    </div>

  </div>
</div>
