<div class="root">
  <div class="header">
    <span class="new-task-button" (click)="goToNewTaskPage()">
      <img class="button-image" src="../../../assets/white-plus.png">
    </span>
    <span class="caption">
        {{plweek.getCaption()}}
    </span>
    <span class="today-button" (click)="plweek.today()">
      <span class="today-button-caption">
        Today
      </span>
    </span>
    <span class="navigation-button" (click)="plweek.prev()">
      <img class="button-image" src="../../../assets/white-arrow-left.png">
    </span>
    <span class="navigation-button" (click)="plweek.next()">
      <img class="button-image" src="../../../assets/white-arrow-right.png">
    </span>
  </div>
  <div class="content">
    <pl-week [date]="parseDateStr()" #plweek></pl-week>
  </div>
</div>
