.root {
    min-width: 700px;
    background-color: var(--header-color);
}

.header {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(220, 220, 220, 0.7);
}

.caption {
    flex: 1;
    text-align: center;
    /*color: var(--main-theme-color-heavy-2);*/
    /*font-weight: bold;*/
}

.new-task-button, .navigation-button, .today-button {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    background-color: var(--header-button-background);
    border-radius: 3px;
    margin-right: 4px;
    cursor: pointer;
    user-select: none;
}

.new-task-button {
    margin: 0px 85px 0px 4px;
}

.today-button {
    width: 75px;
    min-width: 75px;
    display: flex;
    align-items: center;
}

.new-task-button:hover, .navigation-button:hover, .today-button:hover {
    background-color: var(--header-button-background-hover);
}

.today-button-caption {
    color: white;
}

.button-image {
    flex: 1;
    width: 0px;
    margin: 9px;
}

