<div class="root">
  <div class="header">
    <span class="new-task-button" (click)="goToNewTaskPage()">
      <img class="button-image" src="../../../assets/white-plus.png">
    </span>
    <span class="caption">
        {{appweek.getCaption()}}
    </span>
    <span class="today-button" (click)="appweek.today()">
      <span class="today-button-caption">
        Today
      </span>
    </span>
    <span class="navigation-button" (click)="appweek.prev()">
      <img class="button-image" src="../../../assets/white-arrow-left.png">
    </span>
    <span class="navigation-button" (click)="appweek.next()">
      <img class="button-image" src="../../../assets/white-arrow-right.png">
    </span>
  </div>
  <div class="content">
    <app-week #appweek></app-week>
  </div>
</div>
