.root {
    min-width: 700px;
    height: 100%;
    user-select: none;
    display: flex;
    flex-direction: column;
}

.header {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--main-theme-color-heavy)
}

.caption {
    flex: 1;
    text-align: center;
    color: white;
}

.new-task-button, .navigation-button, .today-button {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    background-color: var(--header-button-background);
    cursor: pointer;

}

.new-task-button {
    margin: 0px 85px 0px 0px;
}

.today-button {
    width: 75px;
    min-width: 75px;
    display: flex;
    align-items: center;
}

.new-task-button:hover, .navigation-button:hover, .today-button:hover {
    background-color: var(--main-theme-color-heavy-2);
}

.today-button-caption {
    color: white;
}

.button-image {
    flex: 1;
    width: 0px;
    margin: 12px;
}

.content {
  flex: 1;
  display: flex;
  align-items: stretch;
}

