<div class="root">

  <div class="header">
    <span class="navigation-span" (click)="onPrev()">
      <img src="../../../assets/prev.png" class="naviagation-span-image">
    </span>
    <span class="header-caption-container" (click)="showMonths()">
      <span
        class="displayed-month-header-caption"
        *ngIf="!isMonthMode()">
        {{getMonthName()}}
      </span>
      <span
        class="displayed-year-header-caption">
        {{getCurrentYear()}}
      </span>
    </span>
    <span class="navigation-span" (click)="onNext()">
      <img src="../../../assets/next.png" class="naviagation-span-image">
    </span>
  </div>

  <div class="content">

    <div class="dates-container" *ngIf="!isMonthMode()">
      <div class="calendar-line">
        <span
          class="day-name-cell"
          *ngFor="let weekDay of getWeekDays()"
          (click)="onDayOfWeekClick(weekDay)">
            {{getDayName(weekDay)}}
        </span>
      </div>
      <div class="calendar-line" *ngFor="let week of getCurrentDates()">
        <span
          *ngFor="let day of week"
          [ngClass]="dateIsSelected(day) ? 'day-cell-selected' : 'day-cell'"
          (click)="onDayClick(day)">
            <span
              [ngClass]="isCurrentMonth(day) ? '' : 'sibling-date-caption'">
              {{day.getDate()}}
            </span>
        </span>
      </div>
    </div>

    <div class="months-container" *ngIf="isMonthMode()">
      <div class="month-cell-line" *ngFor="let row of getMonths()">
        <span
          class="month-cell"
          *ngFor="let month of row"
          (click)="onMonthClick(month.index)">
           {{month.name}}
        </span>
      </div>
    </div>

  </div>

  <div class="footer">
    <span class="today-caption" (click)="goToToday()">
      {{'Today: ' + (getTodaysDate()|date:'EEEE, MMM d, y')}}
    </span>
  </div>
</div>
