.root {
    width: 450px;
    height: 590px;
    min-width: 450px;
    display: flex;
    flex-direction: column;
}

.header {
    align-items: stretch;
    background-color: var(--header-color);
    border-bottom: 1px solid gray;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    height: 40px;
    justify-content: space-between;
}

.header-span {
    width: 70px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  var(--header-button-background);
    border-radius: 3px;
    cursor: pointer;
}

.header-span-text {
    color: white;
}

.header-span:hover {
    background-color:  var(--header-button-background-hover);
}

.edit-task-container{
    flex: 1;
}
