.day-container{
    border: 1px solid green;
    flex-grow: 1;
    /*display: flex;*/
}

.root {
    min-width: 300px;
    /*background-color: deepskyblue;*/
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 200px;
}