.day-container{
    flex-grow: 1;
    flex-basis: 1px;
    width: 0px;
}

.root {
    min-height: 200px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}
