.root {
    min-width: 300px;
    background-color: #e6e6e6;
}

.header {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(220, 220, 220, 0.7);
}

.header-button {
    margin: 5px 1px;
    height: 40px;
    width: 75px;
    min-width: 75px;
}

