.root {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.content-container {
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.task-name-container {
  height: 40px;
  display: flex;
}

.task-name-input {
  flex-grow: 1;
  margin: 5px 5px 0px 5px;
  font-size: 120%;
  font-weight: bold;
  padding-left: 5px;
}

.repeat-rules-container {
  flex: 1;
}