.root {
  padding: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.body-section {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.mode-buttons-container {
  display: flex;
  margin-top: 5px;
  margin-bottom: 20px;
}

.mode-button, .selcted-mode-button {
  flex-grow: 1;
  height: 25px;
  background-color: white;
  border: transparent;
  border-bottom: 1px solid #ddd;
}

.mode-button:focus {
  outline:0;
}

.selcted-mode-button:focus {
  outline:0;
}

.mode-button {
  color: #999;
}

.mode-button:hover {
  color: #333;
}

.repeat-mode-container-gap {
  width: 10px;
  border-bottom: 1px solid #ddd;
}

.selcted-mode-button {
  border: 1px solid #ddd;
  border-bottom: transparent;
  font-weight: bold;
}

.repeat-options-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.input-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin: 0px 5px 10px 5px;
}

.input-label, .never-end-checkbox-label {
  margin-bottom: 3px;
  /*font-weight: bold;*/
}

.input-label {
  text-align: right;
  width: 100px;
  min-width: 100px;
  margin-left: 35px;
}

.input-control, .custom-options-container {
  flex: 1;
  height: 20px;
  padding: 0px;
  margin: 0px 100px 0px 10px;
}

#end-date-control {
  flex: 1;
  width: 20px;
  margin: 0px 0px 0px 10px;
}

.never-end-checkbox-label {
  width: 80px;
}

.custom-options-container {
  display: flex;
  align-items: stretch;
}

.custom-option, .selected-custom-option {
  flex: 1;
  padding: 0px;
  border-width: 0px;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  text-align: center;
  padding-top: 1px;
}

.custom-option {
  color: #ccc;
}

.custom-option:hover {
  color: #777;
  /*border-bottom: 2px solid #eee;*/
}

.selected-custom-option {
  font-weight: bold;
  border-bottom: 2px solid #ccc;
}

#month-options-container {
  margin-left: 55px;
  /*//biktop*/
  /*margin-right: */
  justify-content: center;
}

.month-custom-option {
  flex: 0;
  white-space: nowrap;
  margin-right: 10px;
}

.calendar-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
