.root {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5px;
}

.body-section {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 10px;
}

.inputs-container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 132px;
  justify-content: center;
}

.mode-buttons-container {
  display: flex;
  margin-top: 5px;
}

.mode-button, .selcted-mode-button {
  background-color: white;
  border: transparent;
  border-bottom: 1px solid var(--border-color);
  flex-grow: 1;
  height: 25px;
}

.mode-button:focus {
  outline:0;
}

.selcted-mode-button:focus {
  outline:0;
}

.mode-button {
  color: var(--inactive-text-color);
  cursor: pointer;
}

.mode-button:hover {
  color: var(--text-color-hover);
}

.repeat-mode-container-gap {
  width: 10px;
  border-bottom: 1px solid var(--border-color);
}

.selcted-mode-button {
  border: 1px solid var(--border-color);
  border-bottom: transparent;
  font-weight: bold;
}

.repeat-options-container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.input-container {
  align-items: center;
  display: flex;
  flex-grow: 1;
  margin: 3px;
}

.input-label, .never-end-checkbox-label {
  margin-bottom: 2px;
}

.input-label {
  margin-left: 30px;
  min-width: 100px;
  text-align: right;
  width: 100px;
}

.input-control, .custom-options-container {
  flex: 1;
  height: 20px;
  margin: 0px 100px 0px 10px;
  padding: 0px;
}

.custom-options-container {
  display: flex;
  align-items: stretch;
}

#end-date-control {
  flex: 1;
  width: 20px;
  margin: 0px 0px 0px 10px;
}

.never-end-checkbox-label {
  width: 80px;
}

.custom-option, .selected-custom-option {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
  flex: 1;
  padding: 0px;
  text-align: center;
  user-select: none;
}

.custom-option {
  color: #ccc;
}

.custom-option:hover, .selected-custom-option:hover {
  color: var(--text-color-hover);
}

.selected-custom-option {
  font-weight: bold;
  border-bottom: 2px solid var(--main-theme-color-heavy);
}

#month-options-container {
  margin-left: 55px;
  height: 20px;
  display: flex;
}

.month-custom-option {
  flex: 0;
  margin-right: 10px;
  white-space: nowrap;
}

.calendar-container {
  flex: 1;
  margin: 0px 40px;
  display: flex;
  align-items: stretch;
}
